<div>
    <h1>Welcome!</h1>

    <div id="messagesPanel"></div>
    
    <br/>
    <br/>

    <div>
        <input id="messageBox"/>
        <button id="submitButton">Enviar</button>
    </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>