<div>
    <h1>
        ¡Hola, {{user.firstName}}!
    </h1>
    <div style="text-align:center;">
        <img src="cid:banner">
    </div>
    <p>¡Prepárate para una experiencia de videojuegos sin igual!</p>
    <p>Invita a tus amigos porfa</p>
    <h2>Puedes comenzar a ver nuestra lista de videojuegos <a href="http://localhost:8080" style="color:yellow;">Aquí</a></h2>
</div>