<h1>Ingresa</h1>

<form id="loginForm">
    <label>Email</label>
    <input name="email">
    <br/>
    <label>Contraseña</label>
    <input name="password">
    <br/>
    <input type="submit">
</form>

<p>Recuerda que puedes ingresar desde <a href="/api/sessions/google"> Google :) </a></p>

<p>¿Olvidaste tu contraseña? Puedes restablecerla <button onclick="restorePassword()">Aquí</button></p>

<script src="/js/login.js"></script>