<h1>¡Hora de comenzar a ganar dinero!</h1>
<p>Elige el plan con el cual quisieras convertirte en premium</p>


<div>
    <div>
        <p>Premium Simple</p>
        <ul>
            <li>
                Hasta 5 juegos publicados
            </li>
            <li>
                Hasta 100mil pesos facturados (Se hará upgrade automático si se rebasa)
            </li>
            <li>
                Sólo 150pesos mensuales en membresía
            </li>
        </ul>
        <a href="/api/users/premium?type=simple"><button>Pasar a Premium Simple</button></a>
    </div>
    <br/>
    <div>
        <p>Premium Pro</p>
        <ul>
            <li>
                Juegos Ilimitados para publicar
            </li>
            <li>
                ¡Sin tope de ganancia!
            </li>
            <li>
                Sólo 999pesos mensuales en membresía
            </li>
        </ul>
        <a href="/api/users/premium?type=pro"><button>Pasar a Premium Pro</button></a>
    </div>
</div>