<h1>Generador de Videojuegos</h1>

<form id="videogameForm">
    <label>Título</label>
    <input name="title">
    <br/>
    <label>Descripción</label>
    <textarea name="description" style="resize:none;"></textarea>
    <br/>
    <label>Precio</label>
    <input name="price">
    <br/>
    <label>Imagen o imágenes</label>
    <input type="file" name="images" multiple>
    <br/>
    <input type="submit">
</form>


<script src="/js/videogameCreator.js"></script>